<!-- loads the path to your static files --!>
{% extends 'music/base.html' %}
{% block body %}

<ul>
    {% for album in all_albums %}
    <li> <a href="{% url 'music:detail' album.id %}"> {{ album.album_title }} </a> </li>
    <!-- Delete -->
    <form action="{% url 'music:album-delete' album.id %}" method="post" style="display:inline;">
        {% csrf_token %}
    <input type="hidden" name="album_id" value="album_id"/>
    <button type="submit" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
    </form>
    {% endfor %}
</ul>



{% endblock %}